/*цвет основного текста #212121 */

/*вторичный цвет текста #757575 */

/* белый #FFFFFF */

/* вторичный цвет фона "наша команда" #F5F4FA */

/*акцент #2196F3 */

/* цвет почты и ном телефона футер rgba(255, 255, 255, 0.6); */

/*футер бекграунд #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --secondary-grey-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  outline: 2px solid black;
  margin: auto;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/*----------------------------------------------------------------*/
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web-logo {
  color: var(--accent-color);
}

/*Site nav*/

.nav-adress-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 95px;
}

.header-adress {
  display: flex;
}

.adress-container {
  margin-left: auto;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.header-adress .item {
  margin-right: 50px;
}

.header-adress .item:last-child {
  margin-right: 0px;
}
/*------------------------------------------------------------------*/
.site-nav .link.is-current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-adress .adress-link {
  display: block;

  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

/*Section*/

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*Hero*/

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heroback.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/*Button*/

.button-text {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  cursor: pointer;
  background-color: var(--accent-color);
  font-family: inherit;
  border-radius: 4px;
  border: none;
}

/*Features*/

.features-section {
  padding-top: 95px;
}

.features {
  display: flex;
}

.features .item:last-child {
  margin-right: 0px;
}

.features .item {
  margin-right: 30px;
}

.features .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
}

/*Чем мы занимаемся*/

.what-we-do-section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.works-photo {
  display: flex;
}

.works-photo .item:last-child {
  margin-right: 0px;
}

.works-photo .item {
  margin-right: 30px;
}

/*Наша команда*/

.our-team-section {
  background-color: var(--secondary-grey-bg-color);
  padding-top: 95px;
  padding-bottom: 95px;
}

.our-team {
  display: flex;
}

.our-team .item {
  margin-right: 30px;
}

.our-team .item:last-child {
  margin-right: 0px;
}

.our-team .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.profession {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.18;
}

.our-team .content {
  background-color: var(--primary-bg-color);

  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/*Footer*/

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-family: Raleway;
  letter-spacing: 0.03em;
}

.footer-adress .link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contact {
  display: block;

  color: var(--secondary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.footer-adress .item {
  margin-bottom: 10px;
}

.footer-adress .item:last-child {
  margin-bottom: 0px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/*--------------------Portfolio-------------------*/

.buttons-section {
  padding-top: 95px;
  padding-bottom: 50px;
}

.main-buttons {
  display: flex;
  justify-content: center;
}

.main-buttons .item {
  margin-right: 8px;
}

.main-buttons .item:last-child {
  margin-right: 0px;
}

.port-button {
  font-family: inherit;
  background-color: var(--secondary-grey-bg-color);
  color: var(--title-text-color);
  border-radius: 4px;
  border: none;
  text-align: center;
  padding: 6px 22px;
}

.main-buttons .item {
  margin-bottom: 50px;
}

.port-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.port-button:hover,
.port-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Список работ Works*/

.works-section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.wrap-works {
  display: flex;
  flex-wrap: wrap;
}

.wrap-works .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.wrap-works .item:nth-child(3n) {
  margin-right: 0px;
}

.wrap-works .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.works-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.works-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-top: 0px;
  margin-bottom: 0px;
}

.works-examples {
  text-decoration: none;
}

.wrap-works .content {
  border: 1px solid var(--border-color);
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
}

.wrap-works .item:hover,
.wrap-works .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
